<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/dashboard.css">
  <!-- bootstrap pluggins -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- font awesome pluggin -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="">
  <title>Facebook</title>
</head>
<body class="body">
  <!-- header -->
  <header>
    <nav>
      <div class="container-fluid">
        <div class="logo">
          <a href="/" class="navbar-brand"><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook logo"></a>
        </div>
        <div class="content-search">
          <i class="fa fa-search"></i>
          <input type="search" name="search" id="search-field" placeholder="Search Facebook">
        </div>
        <div class="profile-side">
          <a href="#" id="messenger"><img src="images/facebook-messenger.svg" alt="Facebook messenger"></a>
          <a href="#" id="bell-notification"><i class="fa fa-bell"></i></a>
          <a href="#" id="profile-icon"><img src="./images/profile-img.PNG" alt="profile picture"><span><i class="fa fa-chevron-down"></i></span></a>
        </div>
      </div>
    </nav>
  </header>
  <!-- main -->
  <main>
    <div class="contents">
      <!-- article side -->
      <div class="row article">
        <div class="col-md-3 wrapper">
          <!-- home profile  -->
          <div class="home-profile">
            <p><span class="active"></span><a href="/" class="btn btn-lg home-icon" style="text-decoration: none; font-weight: 500; font-size: 15px; color: #050505"><img src="images/10.PNG" style="padding-right: 10px;">Home</a></p>
            <p><a href="/profile?id=?" class="mt-2 btn btn-lg profile-name" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img src="./images/profile-img.PNG" alt="profile picture" width="100" height="100"><span style="padding-left: 10px;">Brandon Parker</span></a></p>
          </div>
          <hr>
          <!-- other left side articles  -->
          <div class="watch">
            <a href="/watch" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img src="images/11.PNG" alt=""> Watch</a>
          </div>
          <div class="friends">
            <a href="javascript:void()" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img src="images/12.PNG" alt=""> Friends</a>
          </div>
          <div class="market-place">
            <a href="" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img src="images/13.PNG" alt=""> Marketplace</a>
          </div>
          <div class="gaming">
            <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img draggable="false" height="24" width="24" alt="" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/_qIV15fkAgk.png?_nc_eui2=AeEaZXoRVsK2S-5CoR4iTeGyBAfRvHfemQEEB9G8d96ZAYGQeg06-Trv1aW_UXkKuWiKgzxyFj2-Rh_BQAuO36dN"> Gaming</a>
          </div>
          <div class="see-all">
            <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/vihPPy8CRe3.png?_nc_eui2=AeGV-hd2wXOdz7XzEickfFC1Mhz7YdbmXksyHPth1uZeS7Qxv-UNqN2rlMDMts9UisJp6BtfaaVeW28xGD8uG09i');background-position:0 -264px;background-size:auto;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i> See all</a>
          </div>
          <hr>
          <div class="all-groups">
            <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/61PbRJyVzL7.png?_nc_eui2=AeFmH7HmMHWH7PxsIBKP7AyL_mCuXOmoyO3-YK5c6ajI7SIsCD-hUHekYKNiABf0kMbTYlSXKk87gdnYi4fFVsYA');background-position:0 -1515px;background-size:auto;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i> See all group</a>
          </div>
          <div class="short-cuts">
            <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/vihPPy8CRe3.png?_nc_eui2=AeGV-hd2wXOdz7XzEickfFC1Mhz7YdbmXksyHPth1uZeS7Qxv-UNqN2rlMDMts9UisJp6BtfaaVeW28xGD8uG09i');background-position:0 -281px;background-size:auto;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i> See all shortcuts</a>
          </div>
          <!-- footer components -->
          <div class="footer-components">
            <a href="">Privacy</a> <span>.</span>
            <a href="#">Terms</a> <span>.</span>
            <a href="#">Advertising</a> <span>.</span>
            <a href="#">Ad choices</a> <span><img src="images/7.PNG" alt="">.</span>
            <a href="#">Cookies</a> <span>.</span>
            <a href="#">More</a> <span>.</span>
            <span>Meta &copy; 2023</span>
          </div>
        </div>
        <!-- middle side article -->
        <div class="col-md-5 middle-article">
          <div class="middle-contents">
            <div class="stories-reels d-flex">
              <div class="stories-header">
                <button><svg fill="currentColor" viewBox="0 0 20 20" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq x1qq9wsj x1qx5ct2 xw4jnvo"><g fill-rule="evenodd" transform="translate(-446 -350)"><path d="M457 368.832a.5.5 0 0 0 .883.323l1.12-1.332a.876.876 0 0 1 .679-.323h3.522a2.793 2.793 0 0 0 2.796-2.784v-10.931a2.793 2.793 0 0 0-2.796-2.785h-3.454a2.75 2.75 0 0 0-2.75 2.75v15.082zm-1.5 0a.5.5 0 0 1-.883.323l-1.12-1.332a.876.876 0 0 0-.679-.323h-3.522a2.793 2.793 0 0 1-2.796-2.784v-10.931a2.793 2.793 0 0 1 2.796-2.785h3.454a2.75 2.75 0 0 1 2.75 2.75v15.082z"></path></g></svg> Stories</button>
              </div>
              <div class="reels-header">
                <button><svg fill="currentColor" viewBox="0 0 20 20" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq xcza8v6 x1qx5ct2 xw4jnvo"><g fill-rule="evenodd" transform="translate(-446 -350)"><path d="M454.59 355h4.18l-2.4-4h-3.28c-.22 0-.423.008-.624.017L454.59 355zm6.514 0h3.695c-.226-1.031-.65-1.79-1.326-2.489-1.061-1.025-2.248-1.488-4.392-1.511h-.379l2.401 4zm-8.78 0-1.942-3.64c-.73.247-1.315.63-1.868 1.165-.668.69-1.09 1.445-1.315 2.475h5.125zm7.043 7.989a.711.711 0 0 1-.22.202l-4.573 2.671-.05.027a.713.713 0 0 1-1.024-.643v-5.343l.002-.056a.714.714 0 0 1 1.072-.56l4.572 2.67.054.036a.714.714 0 0 1 .167.996zm-12.366-5.99V363.083l.001.03v.112l.005.048h.001c.05 2.02.513 3.176 1.506 4.203 1.102 1.066 2.324 1.525 4.577 1.525h5.99c2.144-.023 3.331-.486 4.392-1.511 1.005-1.04 1.467-2.198 1.517-4.217h.003c.003-.1.005-.1.006-.204l.001-.156V357h-18z"></path></g></svg> Reels</button>
              </div>       
            </div>
            <!-- profile gallery -->
            <div class="grid">
              <div class="first-contents">
                <div class="card shadow">
                  <a href="#"><img src="images/profile-img.PNG" alt=""></a><br>
                  <span><svg fill="currentColor" viewBox="0 0 20 20" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq x14ctfv x1qx5ct2 xw4jnvo"><g fill-rule="evenodd" transform="translate(-446 -350)"><g fill-rule="nonzero"><path d="M95 201.5h13a1 1 0 1 0 0-2H95a1 1 0 1 0 0 2z" transform="translate(354.5 159.5)"></path><path d="M102.5 207v-13a1 1 0 1 0-2 0v13a1 1 0 1 0 2 0z" transform="translate(354.5 159.5)"></path></g></g></svg></span>
                  <div class="desc">Create story</div>
                </div>
                <!-- inside write up -->
                <div class="writeup">
                  <ul>
                    <li><img src="images/1.PNG" alt="">Share everyday moments with friends and family.</li>
                    <li><img src="images/2.PNG" alt=""> Stories disappears after 24 hours.</li>
                    <li><img src="images/3.PNG" alt=""> Replies and reactions are private.</li>
                  </ul>
                  <div class="card shadow chevron-right">
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </div>
              </div>
              <div class="second-contents">
                <img src="images/profile-img.PNG" alt="">
                <img src="images/profile-img.PNG" alt="">
                <img src="images/profile-img.PNG" alt="">
                <img src="images/profile-img.PNG" alt="">
                <div class="card shadow chevron">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- live-video, photo/video upload, feeling -->
          <div class="end-contents">
            <div class="card">
              <div class="top">
                <img src="images/profile-img.PNG" alt="">
                <input type="search" name="search" placeholder="What's on your mind Brandon?">
              </div>
              <div class="bottom">
                <button><img src="images/4.PNG" alt="">Live video</button>
                <button><img src="images/5.PNG" alt="">Photo/video</button>
                <button><img src="images/6.PNG" alt="">Feeling/activity</button>
              </div>
            </div>
          </div>
        </div>
        <!-- right article ad side -->
        <div class="col-md-4 ads">
          <div class="sponsored-ads">
            <h5 class="pb-2">Sponsored</h5>
            <div class="first-ad">
              <img src="images/8.PNG" alt="">
              <p>Easy Mac cleanup <br> <span style="font-weight: normal; font-size: 13px;">cleanmymac.com </span></p>
            </div>
            <div class="sec-ad">
              <img src="images/9.PNG" alt="">
              <p>4 IN 1 COMBO FOR 37,000 <br> <span style="font-weight: normal;font-size: 13px;">veekzexpress.com.ng</span></p>
            </div>
          </div>
          <div class="group-conversation">
            <h5>Group conversations</h5>
            <p style="font-weight: 500;"><span><svg fill="currentColor" viewBox="0 0 20 20" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq x14ctfv x1qx5ct2 xw4jnvo"><g fill-rule="evenodd" transform="translate(-446 -350)"><g fill-rule="nonzero"><path d="M95 201.5h13a1 1 0 1 0 0-2H95a1 1 0 1 0 0 2z" transform="translate(354.5 159.5)"></path><path d="M102.5 207v-13a1 1 0 1 0-2 0v13a1 1 0 1 0 2 0z" transform="translate(354.5 159.5)"></path></g></g></svg></span>Create New Group</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="app.js"></script>
  <script>
    // inteswitch contents
    $(document).ready(function() {
      $('.reels-header button').click(function() {
        $('.second-contents').show();
        $('.first-contents').hide();
      })
    });
    $(document).ready(function() {
      $('.stories-header button').click(function() {
        $('.second-contents').hide();
        $('.first-contents').show();
      })
    });
    // window onload add the active class
    window.addEventListener('load', () => {
      document.querySelector('.stories-header button').classList.add('active');
    })
    // when the reels-header is clicked add the active class 
    const btn = document.querySelector('.reels-header');
    btn.addEventListener('click', () => {
      document.querySelector('.reels-header button').classList.add('active');
      document.querySelector('.stories-header button').classList.remove('active');
    })
    // when the stories-header is clicked, add the active class
    const secBtn = document.querySelector('.stories-header');
    secBtn.addEventListener('click', () => {
      document.querySelector('.stories-header button').classList.add('active');
      document.querySelector('.reels-header button').classList.remove('active');
    })

  </script>
</body>
</html>