<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/output.css">
  <!-- bootstrap pluggins -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- font awesome pluggin -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <!-- <link rel="icon" type="image/x-icon" href="./images/1.PNG"> -->
  <title>Facebook</title>
</head>
<body class="body">
  <main>
    <div class="container-fluid">
      <div class="main-wrapper">
        <div class="flex">
          <div class="row">
            <!-- left side area -->
            <div class="col-md-6">
              <div class="left-side">
                <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook logo" id="logo">
                <h2>Facebook help you connect and share with the people in your life</h2>
              </div>
            </div>
            <!-- right side area -->
            <div class="col-md-6">
              <div class="right-side">
                <div class="right-side-container">
                  <form action="">
                    <input type="text" name="name" id="number-email" placeholder="Email address or phone number" autofocus><br>
                    <input type="password" name="pwd" id="pwd" placeholder="Password"><br>
                    <button class="btn-login my-2" type="submit" name="login">Log in</button><br>
                    <a href="#" id="forgotPassword"class="my-2">Forgotten password?</a>
                    <hr>
                   <button id="createAccount" type="button" data-toggle="modal" data-target="#exampleModal">Create new account</button>
                  </form>
                </div>
                <p><a href="#">Create a page</a> for a celebrity, brand or company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="bg-light">
    <div class="end-wrapper">
      <div class="container">
        <div class="firstRow">
          <ul>
            <li>English (UK)</li>
            <li><a href="#" title="Hausa">Hausa</a></li>
            <li><a href="#" title="French (France)">Français (France)</a></li>
            <li><a href="#" title="Português">Português (Brasil)</a></li>
            <li><a href="#" title="Spanish">Español</a></li>
            <li><a href="#" title="Arabic">العربية</a></li>
            <li><a href="#" title="Indonesia">Bahasa Indonesia</a></li>
            <li><a href="#" title="Germany">Deutsch</a></li>
            <li><a href="#" title="Japanese">日本語</a></li>
            <li><a href="#" title="Italian">Italiano</a></li>
            <li><a href="#" title="Hindi">हिन्दी</a></li>
            <li><a href="#" id="plusMore"><i class="fa fa-plus"></i></a></li>
          </ul>
          <hr id="footer-hr">
        </div>
        <div class="secondRow mt-3">
          <ul>
            <li><a href="#" title="Sign up for Facebook">Sign up</a></li>
            <li><a href="#" title="Log in to Facebook">Log in</a></li>
            <li><a href="#" title="Take a look at Messenger">Messenger</a></li>
            <li><a href="#" title="Facebook for Andriod.">Facebook Lite</a></li>
            <li><a href="#" Browse our Watch Videos.>Watch</a></li>
            <li><a href="#" title="Take a look at popular places on Facebook">Places</a></li>
            <li><a href="#" title="Check out Facebook games.">Games</a></li>
            <li><a href="#" title="Buy and sell on Facebook Marketplace.">MarketPlace</a></li>
            <li><a href="#" title="Learn more about Meta Pay"></a></li>
            <li><a href="#" title="Discover Meta">Meta Store</a></li>
            <li><a href="#" title="Learn more about Meta Quest">Meta Quest</a></li>
            <li><a href="#" title="Take a look at Instagram">Instagram</a></li>
            <li><a href="#" title="Take a look at Bulletin newsletter">Bulletin</a></li>
            <li><a href="#" title="Donate to worthy causes.">Fundraisers</a></li>
          </ul>
        </div>
        <div class="thirdRow">
          <ul>
            <li><a href="#" title="Browse our Facebook Services  directory">Services</a></li>
            <li><a href="#" title="Log in to Facebook">Log in</a></li>
            <li><a href="#" title="See the Voting Information Center">Voting Information Center</a></li>
            <li><a href="#" title="Learn how collect, use and share information to support Facebook.">Privacy Policy</a></li>
            <li><a href="#" Browse our Watch Videos.>Watch</a></li>
            <li><a href="#" title="Take a look at popular places on Facebook">Places</a></li>
            <li><a href="#" title="Check out Facebook games.">Games</a></li>
            <li><a href="#" title="Learn how to control your privacy on Facebook.">Privacy Center</a></li>
            <li><a href="#" title="Explore our groups">Groups</a></li>
            <li><a href="#" title="Read our blog, discover the resource center and find job opportunities">About</a></li>
            <li><a href="#" title="Advertise on Facebook">Create ad</a></li>
            <li><a href="#" title="Create a page">Create Page</a></li>
            <li><a href="#" title="Develop on our platform">Developers</a></li>
            <li><a href="#" title="Make your career move with our brilliant company.">Careers</a></li>
            <li><a href="#" title="Learn more about cookies and Facebook"></a></li>
            <li id="last"><a href="#" title="Learn about Adchoices.">Adchoices</a></li>
          </ul>
        </div>
        <p id="copywrite"><small>Meta &copy; 2023</small></p>
      </div>
    </div>
  </footer>
  <!-- signup  -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Sign Up <br><span>It's quick and easy to use</span></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="./include/process.inc.php" method="POST" name="submitField">
            <div class="form-group">
              <input type="text" name="fname" id="fname" placeholder="First name">
              <input type="text" name="lname" id="lname" placeholder="Surname">
              <input type="text" name="mobileEmail" id="mobileEmail" placeholder="Mobile number or email address" id="emailPhone">
              <input type="password" name="pwd" id="newPwd" placeholder="New password">
            </div>
            <!-- date of birth select options -->
            <div class="form-group" id="dateOfBirth">
              <label>Date of birth<span>?</span></label><br>
              <select name="dob_day" id="day" aria-label="day" title="Day">
                <?php for($i = 1; $i <= 31; $i++): ?>
                <option value="<?= $i ?>"><?= $i; ?></option>
                <?php endfor; ?>          
              </select>
              <select name="dob_month" id="month" aria-label="month" title="Month">  
                <option value="Jan">Jan</option>
                <option value="Feb">Feb</option>
                <option value="Mar">Mar</option>
                <option value="Apr">Apr</option>
                <option value="May">May</option>
                <option value="Jun">Jun</option>
                <option value="Jul">Jul</option>
                <option value="Aug">Aug</option>
                <option value="Sep">Sep</option>
                <option value="Oct">Oct</option>
                <option value="Nov">Nov</option>
                <option value="Dec">Dec</option>
              </select>
              <select aria-label="Year" name="dob_year" id="year" title="Year">
                <?php for($i = date("Y"); $i >= 1905; $i--): ; ?>
                <option value="<?= $i; ?>"><?= $i; ?></option>
                <?php endfor; ?>
              </select>
            </div>
            <!-- gender radio selection -->
            <div class="form-group" id="gender">
              <label id="genderRadio">Gender<span>?</span></label> <br> 
              <div class="form-check">
                <label for="female" class="form-check-label">Female</label>
                <input type="radio" name="gender" id="female" value="Female">
              </div>
              <div class="form-check">
                <label for="male" class="form-check-label">Male</label>
                <input type="radio" name="gender" id="male" value="Male" class="male">
              </div>
              <div class="form-check">
                <label for="custom" class="form-check-label">Custom</label>
                <input type="radio" name="gender" id="custom" value="Custom">
              </div>
            </div>
            <!-- custom genders -->
            <div class="custom-genders" id="custom-genders">
              <select name="gender" id="pronoun">
                <option value="" disabled selected>Select your pronoun</option>
                <option value="She">She: "Wish her a happy birthday!"</option>
                <option value="He">He: "Wish him a happy birthday!"</option>
                <option value="They">They: "Wish them a happy birthday!"</option>
              </select>
              <p><small>Your pronoun is visiible to everyone</small></p>
              <input type="text" name="gender" id="" placeholder="Gender (optional)">
            </div>
            <!-- signup write up and button -->
            <div class="signup">
              <p>People who use our service may have uploaded your contact information to Facebook. <a href="#">Learn more</a></p>
              <p>By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Privacy Policy</a> and <a href="#">Cookies Policy</a>. You may receive SMS notifications from us and can opt out at any time.</p>
              <button type="submit" name="signup" id="signup-btn">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.onload = function() {
      const myScript = document.createElement('script');
      myScript.src = "./app.js";
      document.body.appendChild(myScript);
    }
  </script>
</body>
</html>