<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="stylesheet" href="css/profile.css">
  <!-- bootstrap pluggins -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- font awesome pluggin -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <title>Facebook</title>
</head>
<body class="body">
  <!-- header -->
  <header>
    <nav>
      <div class="container-fluid">
        <div class="logo">
          <a href="/" class="navbar-brand"><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook logo"></a>
        </div>
        <div class="search">
          <i class="fa fa-search"></i>
          <!-- <input type="search" name="search" id="search-field" placeholder="Search Facebook"> -->
        </div>
        <div class="profile-side">
          <a href="#" id="messenger"><img src="images/facebook-messenger.svg" alt="Facebook messenger"></a>
          <a href="#" id="bell-notification"><i class="fa fa-bell"></i></a>
          <a href="#" id="profile-icon"><img src="./images/profile-img.PNG" alt="profile picture"><span><i class="fa fa-chevron-down"></i></span></a>
        </div>
      </div>
    </nav>
  </header>
  <!-- main -->
  <main>
    <div class="contents">
      <!-- article side -->
      <div class="wrappers">
        <div class="home">
          <p><a href="/" class="btn btn-lg fa-home-icon" ><img src="images/10.PNG"></a></p>
          <p style="position: relative;"><span class="active"></span><a href="/profile?id=?" class="btn btn-lg account_name"><img src="./images/profile-img.PNG" alt="profile picture"></a></p>
        </div> 
        <hr style="margin: 0 10px">
        <!-- other left side articles  -->
        <div class="watch_platform">
          <a href="/watch" class="btn btn-lg"><img src="images/11.PNG" alt=""></a>
        </div>
        <div class="friends_list">
          <a href="javascript:void()" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img src="images/12.PNG" alt=""></a>
        </div>
        <div class="market_place">
          <a href="" class="btn btn-lg"><img src="images/13.PNG" alt=""></a>
        </div>
        <div class="gamings">
          <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><img draggable="false" height="24" width="24" alt="" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/_qIV15fkAgk.png?_nc_eui2=AeEaZXoRVsK2S-5CoR4iTeGyBAfRvHfemQEEB9G8d96ZAYGQeg06-Trv1aW_UXkKuWiKgzxyFj2-Rh_BQAuO36dN"></a>
        </div>
        <div class="see_all">
          <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/vihPPy8CRe3.png?_nc_eui2=AeGV-hd2wXOdz7XzEickfFC1Mhz7YdbmXksyHPth1uZeS7Qxv-UNqN2rlMDMts9UisJp6BtfaaVeW28xGD8uG09i');background-position:0 -264px;background-size:auto;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i></a>
        </div>
        <hr style="margin: 0 10px;">
        <div class="group_member">
          <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/61PbRJyVzL7.png?_nc_eui2=AeFmH7HmMHWH7PxsIBKP7AyL_mCuXOmoyO3-YK5c6ajI7SIsCD-hUHekYKNiABf0kMbTYlSXKk87gdnYi4fFVsYA');background-position:0 -1515px;background-size:auto;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i></a>
        </div>
        <hr style="margin: 0 10px;">
        <div class="shorts">
          <a href="#" class="btn btn-lg" style="text-decoration: none; color: #050505; font-weight: 500; font-size: 15px;"><i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/vihPPy8CRe3.png?_nc_eui2=AeGV-hd2wXOdz7XzEickfFC1Mhz7YdbmXksyHPth1uZeS7Qxv-UNqN2rlMDMts9UisJp6BtfaaVeW28xGD8uG09i');background-position:0 -281px;background-size:auto;width:16px;height:16px;background-repeat:no-repeat;display:inline-block"></i></a>
        </div>
      </div>
    </div>
  </main>
  <section>
    <!-- upper profile picture area -->
    <div class="profile_section">
      <div class="contains">
        <div class="profile_image"></div>
        <div class="inner_content">
          <img src="images/profile-img.PNG">
          <div class="profile_name">
            <span class="first_span"><i data-visualcompletion="css-img" class="x1b0d499 xaj1gnb" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/cAIAZPaB0I0.png?_nc_eui2=AeGeEhP_MO3iBw_Nmi2MLbU62NmEmMOE53fY2YSYw4TndyaxTtG4mw7vSzlgRIWuJKLjxICl1QgNvGpB00kvVJc8&quot;); background-position: 0px -244px; background-size: auto; width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;"></i></span>
            <span class="second_span">Brandon Parker</span>
          </div>
          <!-- create avatar and edit cover photo -->
          <div class="profile_avatar">
            <p><i data-visualcompletion="css-img" class="x1b0d499 xaj1gnb" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/cAIAZPaB0I0.png?_nc_eui2=AeGeEhP_MO3iBw_Nmi2MLbU62NmEmMOE53fY2YSYw4TndyaxTtG4mw7vSzlgRIWuJKLjxICl1QgNvGpB00kvVJc8&quot;); background-position: 0px -210px; background-size: auto; width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;"></i> Create with avatar</p>
            <p><i data-visualcompletion="css-img" class="x1b0d499 xaj1gnb" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/cAIAZPaB0I0.png?_nc_eui2=AeGeEhP_MO3iBw_Nmi2MLbU62NmEmMOE53fY2YSYw4TndyaxTtG4mw7vSzlgRIWuJKLjxICl1QgNvGpB00kvVJc8&quot;); background-position: 0px -244px; background-size: auto; width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;"></i> Edit Cover Photo</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>